        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #header1
        {
            /* width: 100%; */
            /* height: 825px; */
            background-color: #ffc045;
            overflow: hidden;
        }

        .main-content1
        {
            width: 100%;
            display: flex;
            position: relative;
        }

        .content1
        {
            width: 50%;
        }

        .content2
        {
            width: 50%;
        }

        #logo1
        {
            position: absolute;
            top: 30px;
            left: 40px;
        }

        #pagep1
        {
            font-size: 17px;
            /* line-height: 71px; */
            color: #3d2514;
            font-weight: 700;
            font-family: "Montserrat";
            /* text-align: right; */
        }

        .expressdelievry
        {
            display: flex;
            justify-content: right;
            padding-top: 30px;
            padding-right: 50px;
        }

        nav
        {
           padding-top: 50px;
        }

        .nav1
        {
            list-style: none;
            display: flex;
            justify-content: right;
        }

       a
       {
        text-decoration: none;
        color: black;
        padding-right: 30px;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #3d2514;
        font-weight: 700;
        font-family: "Bebas Neue";
       }

       a:active
       {
        color: red;
       }

       .content1
       {
        margin-top: 100px;
        padding-bottom: 100px;
       }

       #para1
       {
        margin-left: 50px;
        width: 480px;
        font-weight: bold;
        height: 40px;
        color: #3d2514;
        border: 3px dashed #3d2514;
        padding: 10px;
        text-transform: uppercase;
       }
        
       #title1
       {
            padding-top: 20px;
            font-size: 120px;
            padding-left: 50px;
            text-transform: uppercase;
            color: #3d2514;
            font-weight:  bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-shadow: 10px 20px 15px white;
            padding-bottom: 100px;
       }

       #main-content1
       {
        display: flex;
       }

       #Drinks
       {
            position: absolute;
            top: 75px;
            right: 100px;
       }

       #Burger
       {
        position: absolute;
        top: 190px;
        right: 140px;
        z-index: 2;
       }

       #Fries
       {
        position: absolute;
        top: 125px;
        right: 380px
       }

       #Ellipse
       {
        position: absolute;
        top: 406px;
        right: 460px;
        z-index: 3;
       }

       #Price
       {
        position: absolute;
        top: 446px;
        right: 505px;
        z-index: 3;
       }

       #Shadow
       {
        position: absolute;
        top: 540px;
        right: 0;
        /* z-index: 4; */
       }


    #header2
    {
        width: 100%;
        /* height: 400px; */
        /* border: 1px solid black; */
        background-color: white;
        position: relative;
        overflow: hidden;
    }

   #burger1
   {
    margin-top: 50px;
    margin-left: 80px;
   }

   #burger2
   {
    margin-top: 50px;
    margin-right: 100px;
   }

   #burger3
   {
    margin-top: 30px;
    margin-right: 100px;
   }

   .burgerimage2 
   {
    margin-left: 50px;
   }

   .burgerimage3
   {
    margin-left: 50px;
   }

   #page2p1
   {
    font-size: 25px;
    /* line-height: 38px; */
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 65px;
    left: 95px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   #page2p2
   {
    font-size: 25px;
    /* line-height: 38px; */
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 70px;
    left: 850px;
   }

   #page2p3
   {
    font-size: 25px;
    /* line-height: 38px; */
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 200px;
    left: 850px;
   }

   .joint
   {
        display: flex;
        justify-content: space-between;
   }

    .button1
    {
        margin-top: 50px;
        margin-right:50px ;
        position: relative;
        right: 100px;
    }

   #b1
   {
    /* border: 1px solid black; */
        width: 218px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        background-color: #ffc045;
        text-transform: uppercase;
   }

   .main-content2
   {
    margin-top: 50px;
   }

   #page3
   {
    position: relative;
   }

   #page3p1
   {
    font-size: 50px;
/* line-height: 38px; */
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   #page3p2
   {
   
    font-size: 17px;
    /* line-height: 29px; */
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
   }

   .mainBurger
   {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* margin-top: 50px; */
   }

   #page3p3
   {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
    align-items: center;
   }

   
   #page3p5
   {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
   }

   
   #page3p7
   {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
    align-items: center;
   }

   #burger4
   {
    margin-top: 50px;
   }

   #burger5
   {
    margin-top: 40px;
   }

   #burger6
   {
    margin-top: 50px;
   }

#page3
{
    width: 100%;
}


   #page3p4
   {
    /* width: 367px;
    height: 51px; */
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
   }

   
   #page3p6
   {
    /* width: 367px;
    height: 51px; */
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
   }

   
   #page3p8
   {
    /* width: 367px;
    height: 51px; */
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
   }

   #b2
   {
    width: 190px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bf2222;
    text-transform: uppercase;
    margin-top: 20px;
    /* position: relative;
    left: 130px; */
    /* text-align: center; */
   }

#page4
{
    width: 100%;
    /* height: 492px; */
    background-color: #ffffff;
    /* border: 1px solid black; */
}

.page4content
{
    margin-top: 50px;
    position: relative;
}

#page4p1
{
    font-size: 25px;
text-transform: uppercase;
color: #3d3d3d;
font-weight: 700;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page4p2
{
    font-size: 42px;
/* line-height: 46px; */
text-transform: uppercase;
color: #3d2514;
font-weight: 400;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page4p3
{
    /* width: 531px;
height: 173px; */
padding-top: 20px;
font-size: 21px;
/* line-height: 33px; */
color: #3d3d3d;
font-weight: 400;
font-family: "Montserrat";
}

.page4images
{
    margin-left: 50px;
}

#page4img3
{
    position: absolute;
    /* top: 140px; */
    bottom: 0px;
}

.jointpage4
{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* border: 1px solid black; */
}


#header5
{
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.content5
{
    text-align: center;
    margin-top: 100px;
}

#page5content1
{
    font-size: 29px;
letter-spacing: 2px;
/* line-height: 46px; */
text-transform: uppercase;
color: #3d2514;
font-weight: 700;
font-family: "Bebas Neue";
}

#page5content2
{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}

.control1
{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-top: 50px;
}


.control2
{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-top: 20px;
}


#name1
{
width: 300px;
height: 50px;
border-radius: 5px;
border: 1px solid #bebebe;
font-size: 15px;
text-transform: uppercase;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 10px;
}

#email1
{
width: 300px;
height: 50px;
margin-left: 30px;
border-radius: 5px;
font-size: 15px;
text-transform: uppercase;
border: 1px solid #bebebe;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 10px;
}

#Button2
{
    width: 300px;
    height: 50px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;  
    background-color: #bf2222;
    margin-bottom: 100px;
}

#img2
{
    position: absolute;
    top: -50px;
    left: -80px;
}

#bottle1
{
    position: absolute;
    top: 150px;
    left: 220px;
}

#plate1
{
    position: absolute;
    top: 100px;
    right: -250px;
    overflow: hidden;
}

#header6
{
    /* margin-top: 5px; */
    background: url(./Images/page6.png) no-repeat center center/cover;
    width: 90%;
    /* position: relative; */
    margin: 0 auto;
}

.main
{
    display: flex;
    color: white;
    /* padding-bottom: 100px; */
}

.main-container1
{
    width: 50%;
    padding-left: 30px;
}

.main-container2
{
    width: 50%;
    color: white;
    position: relative;
    /* border: 5px solid yellow; */
    padding-top: 100px;
    padding-left: 50px;
}

.image-wrapper
{
    padding-top: 30px;
}

.text
{
padding: 30px 100px 100px 0px;
font-size: 17px;
line-height: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
}


.text2
{
    text-transform: uppercase;
padding-left: 100px;
padding-top: 60px;
font-size: 21px;
color: #ffffff;
font-weight: 700;
font-family: "Bebas Neue";
}

.icons
{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 30px;
}

#page6p2
{
    font-size: 17px;
    font-weight: 400;
    font-family: "Bebas Neue";
}