
@media (min-width: 576px) and (max-width: 768px)
{
    
    
    .main-content1
    {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 50px;
    }
    
    #Drinks
    {
        width: 80px;
        position: absolute;
        top: 420px;
        right: 100px;
    }
       #Burger
       {
        width: 200px;
        position: absolute;
        top: 465px;
        right: 140px;
        z-index: 2;
       }

       #Fries
       {
        width: 200px;
        position: absolute;
        top: 405px;
        right: 226px
       }

       #Ellipse
       {
        width: 100px;
        position: absolute;
        top: 570px;
        right: 295px;
        z-index: 3;
       }

       #Price
       {
        width: 40px;
        position: absolute;
        top: 596px;
        right: 326px;
        z-index: 3;
       }

       #Shadow
       {
        width: 400px;
        position: absolute;
        top: 637px;
        right: 22px;
       }
      

        .text2
        {
            padding-left: 0px;
            padding-right: 100px;
        }

    
        #header5
        {
            position: relative;
            overflow: hidden;
        }

        #bottle1
        {
            width: 190px;
            position: absolute;
            top: 200px;
            left: 0px;
        }

        #logo1
        {
            left: 20px;
            width: 220px;
        }

        #pagep1
        {
            font-size: 15px;
        }


        #page2p1
        {
            position: absolute;
            top: 100px;
            /* right: 200px; */
            left: 130px;
        }

        
        #page2p2 
        {
            position: absolute;
            top: 550px;
            left: 80px;
            width: 150px;
        }

        #page2p3 
        {
            bottom: 180px;
            left: 80px; 
        }

        .joint
        {
             display: flex;
             flex-direction: column;
             align-items: center;
        }
        .mainBurger  
        {
            align-items: center;
         display: flex;
         flex-direction: column;
         align-items: center;    
        }


        #burger4,#burger5 ,#burger6
        {
            position: relative;
            top: 0px;
            /* left: 30px; */
            align-items: center;
            /* text-align: center; */
        }

        #Shadow2
        {
            position: relative;
            top: 30px;
            left: 20px;
        }

      
        #Shadow3 {
            position: relative;
            top: 14px;
            left: 8px;
        }

        .jointpage4
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .page4content
        {
            position: relative;
        }

                
        #page4img3
        {
            position: relative;
            top: 468px;
            right:  0px;
        }

        
        #img2
        {
            width: 300px;
            position: absolute;
            top: -50px;
            left: -55px;
        }


        
        #plate1
        {
            width: 400px;
            position: absolute;
            top: 240px;
            right: -250px;
            overflow: hidden;
        }

        #b1
        {
         /* border: 1px solid black; */
             position: relative;
             left: 340px;
        }   

        .control1 , .control2 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #email1 , #Button2
        {
            margin-left: 0px;
        }
        
        .main
        {
            display: flex;
            flex-direction: column;
        }

        .main .main-container1
        {
            width: 100%;
            padding: 0 20px;
            position: relative;
        }

        .main .main-container2
        {
            width: 100%;
            padding: 0 20px 50px;
            position: relative;
            overflow: hidden;
        }

                   
         #page6p2
        {
            position: absolute;
            bottom: 0;
            color: #ffffff;
            font-size: 20px;
            left: 20px;
        }

        .text , .text2
        {
            padding: 35px 0px;
            font-size: 20px;
        }

        
        .icons
        {
            position: absolute;
            bottom: 0px;
            right: 10px;
            color: red;
        }
        


    }
@media (min-width:769px) and (max-width: 992px) 
    {
        
    .main-content1
    {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 50px;
    }
    
    #Drinks
    {
        width: 80px;
        position: absolute;
        top: 340px;
        right: 100px;
    }
       #Burger
       {
        width: 200px;
        position: absolute;
        top: 385px;
        right: 140px;
        z-index: 2;
       }

       #Fries
       {
        width: 200px;
        position: absolute;
        top: 305px;
        right: 226px
       }

       #Ellipse
       {
        width: 100px;
        position: absolute;
        top: 466px;
        right: 295px;
        z-index: 3;
       }

       #Price
       {
        width: 40px;
        position: absolute;
        top: 495px;
        right: 326px;
        z-index: 3;
       }

       #Shadow
       {
        width: 400px;
        position: absolute;
        top: 550px;
        right: 26px;
       }

        .text2
        {
            /* padding-right: 50px; */
            padding-left: 0px;
        }

        #title1
        {
            font-size: 77px;
            padding-left: 80px;
        }

        #page2p1
        {
            position: absolute;
            top: 100px;
            /* right: 200px; */
            left: 300px;
        }
        
        #page2p2 
        {
            position: absolute;
            top: 550px;
            left: 190px;
            width: 150px;
        }

        #page2p3 
        {
            bottom: 180px;
            left: 190px; 
        }

        .joint
        {
             display: flex;
             flex-direction: column;
             align-items: center;
        }
        .mainBurger  
        {
            align-items: center;
         display: flex;
         flex-direction: column;
         align-items: center;    
        }


        #burger4,#burger5 ,#burger6
        {
             position: relative;
            top: -10px;
            left: 30px; 
            /* margin: 0 auto; */
            /* align-items: center; */
            /* text-align: center; */
        }

        #Shadow2
        {
            position: relative;
            top: -4px;
            right: -45px;
        }

      
        #Shadow3
        {
           position: relative;
            top: 18px;
            right: -12px;
            
        }

        .jointpage4
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

                
        #page4img3
        {
            position: relative;
            top: 468px;
            right: 100px;
        }

        
        #img2
        {
            width: 300px;
            position: absolute;
            top: -50px;
            left: -55px;
        }

                
        #bottle1
        {
            width: 190px;
            position: absolute;
            top: 200px;
            left: -38px;
        }

        
        #plate1
        {
            width: 400px;
            position: absolute;
            top: 240px;
            right: -250px;
            overflow: hidden;
        }

        
        #page6p3 
        {
            position: absolute;
            bottom: 150px;
            color: #ffffff;
            font-size: 20px;
            left: 108;
        }

         #page6p4
        {
            position: absolute;
            bottom: 110px;
            color: #ffffff;
            font-size: 20px;
            left: 0;
        }

        .icons
        {
            position: absolute;
            bottom: 20px;
            color: #ffffff;
            font-size: 30px;
            color: red;
            right: 80px;

        }

        #b1
        {
         /* border: 1px solid black; */
             position: relative;
             left: 300px;
        }

    }
@media (min-width: 993px) and (max-width: 1200px) 
    {

        
    .main-content1
    {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 50px;
    }
    
    #Drinks
    {
        width: 107px;
        position: absolute;
        top: 353px;
        right: 100px;
    }
       #Burger
       {
        width: 255px;
        position: absolute;
        top: 424px;
        right: 140px;
        z-index: 2;
       }

       #Fries
       {
        width: 230px;
        position: absolute;
        top: 362px;
        right: 257px
       }

       #Ellipse
       {
        width: 100px;
        position: absolute;
        top: 537px;
        right: 345px;
        z-index: 3;
       }

       #Price
       {
        width: 41px;
        position: absolute;
        top: 565px;
        right: 373px;
        z-index: 3;
       }

       #Shadow
       {
        width: 400px;
        position: absolute;
        top: 644px;
        right: 42px;
       }
       
        #page2p1
        {
            position: absolute;
            top: 100px;
            /* right: 200px; */
            left: 300px;
        }
        
        #page2p2 
        {
            position: absolute;
            top: 550px;
            left: 300px;
        }

        #page2p3 
        {
            position: absolute;
            bottom: 200px;
            left: 300px; 
        }

        .joint
        {
             display: flex;
             flex-direction: column;
             align-items: center;
        }
        .mainBurger  
        {
         display: flex;
         flex-direction: column;
         /* align-items: center;     */
        }


        #burger4,#burger5 ,#burger6
        {
            position: relative;
            top: 0px;
            left: 195px;
        }

        #Shadow2
        {
            position: relative;
            top: 30px;
            right: 150px;
        }

      
        #Shadow3
        {
            position: relative;
            top: 35px;
            right: 160px;
        }

        .jointpage4
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

                
        #page4img3
        {
            position: relative;
            top: 400px;
            right: 200px;
        }

        
        #img2
        {
            width: 300px;
            position: absolute;
            top: -50px;
            left: -55px;
        }

                
        #bottle1
        {
            width: 220px;
            position: absolute;
            top: 200px;
            left: 50px;
        }

        
        #plate1
        {
            width: 400px;
            position: absolute;
            top: 240px;
            right: -200px;
            overflow: hidden;
        }
            
          #b1
        {
         /* border: 1px solid black; */
             position: relative;
             left: 300px;
        }

        .text2
        {
            /* padding-right: 50px; */
            padding-left: 0px;
        }


    }
@media (min-width: 1200px) and (max-width: 1400px)
    {

        .main-content1
        {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 50px;
        }
        
        #Drinks
        {
            width: 132px;
            position: absolute;
            top: 265px;
            right: 100px;
        }
           #Burger
           {
            width: 295px;
            position: absolute;
            top: 366px;
            right: 140px;
            z-index: 2;
           }
    
           #Fries
           {
            width: 255px;
            position: absolute;
            top: 317px;
            right: 279px;
        }
    
           #Ellipse
           {
            width: 122px;
            position: absolute;
            top: 500px;
            right: 383px;
            z-index: 3;
           }
    
           #Price
           {
            width: 51px;
            position: absolute;
            top: 532px;
            right: 417px;
            z-index: 3
           }
    
           #Shadow
           {
            width: 400px;
            position: absolute;
            top: 630px;
            right: 60px;
           }
       
        #page2p1
        {
            position: absolute;
            top: 100px;
            /* right: 200px; */
            left: 460px;
        }
        
        #page2p2 
        {
            position: absolute;
            top: 550px;
            left: 390px;
        }

        #page2p3 
        {
            bottom: 200px;
            left: 390px; 
        }

        .joint
        {
             display: flex;
             flex-direction: column;
             align-items: center;
        }
    }