/* // Small devices (landscape phones, 576px and up) */
@media  (min-width: 300px) and (max-width: 575px)
{

    
#bar
{
    display: block;
    color: white;
}


    .menu
    {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        row-gap: 20px;
    }

        
    #check1
    {
        width: 50px;
        height: 50px;
        display: block;
        opacity: 0;
    }

    nav
    {
        padding: 20px 0px;
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    input:checked + nav
    {
        display: flex;
    }
 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 768px)
    {

           
    #bar
    {
        display: block;
        color: white;
    }

               
    #check1
    {
        width: 50px;
        height: 50px;
        display: block;
        opacity: 0;
    }

    nav
    {
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    input:checked + nav
    {
        display: flex;
    }

        .image
        {
            padding-left: 20px;
        }

        #search
        {
            padding-left: 50px;
        }
        
        .menu
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px auto;
        }

        .Title-container,.content2, .cards, .card1
        {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #title2 {
            font-size: 45px;           
        }

        #title4
        {
            font-size: 60px;
        }

        #title7 {
            /* width: 50%; */
           padding-top: 10px;
        }

        #title9{
            font-size: 25px;
        }

        
         th
         {
            font-size: 25px;
            padding-right: 0px;
           /* align-items: center; */
            /* text-align: center; */
         }

         #t1
         {
            padding-right: 65px;
         }

         #t2
         {
            padding-right: 30px;
         }

        td
        {
            font-size: 20px;
        }

        #title5
        {
            font-size: 50px;
            margin-top: 40px;
        }

        #content5
         {
            font-size: 20px;
        }

        #content9 {
            font-size: 20px;
            /* margin-right: 50px; */
        }

        #shape3 {
            top: 125px;
            left: 30px;
        }

        #shape7
         {
            top: 86px;
            left: 68px;
        }
    
            #shape10
         {
        position: absolute;
        top: 663px;
        right: 323px;
      }

      .icons
      {
        font-size: 25px;
        color: brown;
      }

        #shape11 {
            position: absolute;
            top: 275px;
            left: 27px;
        }

        .joint1
        {
            width: 40%;
            /* border: 1px solid white; */
            margin-top: 50px;
            /* padding: 50px; */
            position: relative;
            left: 20px;
            top: 40px;
        }

        .joint2
        {
            display: flex;
            flex-direction: column;
        }

        .page5title
        {
            display: flex;
            flex-direction: column;
        }

        #b3 
        {
            margin: 0 auto;
        }

        #p4,#p5
        {
            font-size: 40px;
        }

        #imagepage3 , #img2
        {
            /* padding: 0px; */
            margin-left: 50px;
            /* margin: 0 auto; */
            /* text-align: center; */
            width: 350px;
        }

        #image5
        {
            padding: 0;
            width: 400px;
        }

        .page5image
        {
            /* text-align: center; */
            margin-right: 50px;
        }
        .connect
        {
            text-align: center;
            /* padding-left: 50px; */
            display: flex;
            flex-direction: column;
        }

        .circle
        {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px 0px;
        }

        .circle1
        {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            /* margin: 50px 0px; */
        }

        .joint
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #title6
        {
            margin-top: 50px;
        }

        #content6
        {
            padding: 20px 70px;
        }

        #shape12 {
            width: 140px;
            top: 58px;
            right: 21px;
        }

        #shape13 {
            width: 140px;
            top: 97px;
            left: 28px;
        }

        #shape14
         {
            width: 75px;
            top: 273px;
            left: 33px;
        }

        #shape15 {
            width: 150px;
            bottom: -63px;
            left: 25px;
        }

        #shape16 {
            width: 140px;
            bottom: 27px;
            right: 70px;
        }

        #shape17 {
            width: 73px;
            bottom: 129px;
            right: 30px;
        }

        #shape19 {
            position: absolute;
            top: 75px;
            left: 258px;
        }

        #shape20 {
            width: 150px;
            position: absolute;
            top: 338px;
            right: 18px;
        }

        #shape21 {
            position: absolute;
            bottom: 24px;
            left: 18px;
        }

        #shape23 {
            position: absolute;
            top: 75px;
            right: 309px;
        }

        #shape24 {
            position: absolute;
            top: 58px;
            left: 32px;
        }

        #shape26 {
            position: absolute;
            bottom: 30px;
            left: 298px;
        }

        #shape27 {
            position: absolute;
            bottom: 45px;
            right: 40px;
        }

    }

/* // Large devices (desktops, 992px and up) */
    @media (min-width:769px) and (max-width: 992px) 
    {

        #bar
        {
            display: block;
            color: white;
        }
    
               
    #check1
    {
        width: 50px;
        height: 50px;
        display: block;
        opacity: 0;
    }

    nav
    {
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    input:checked + nav
    {
        display: flex;
    }

        .image
        {
            padding-left: 20px;
        }

        #search
        {
            padding-left: 50px;
        }
        
        .menu
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px auto;
        }

        .Title-container,.content2, .cards, .card1
        {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #shape3 {
            top: 150px;
            left: 80px;
        }

        .joint2
        {
            display: flex;
            flex-direction: column;
        }

        .page5title
        {
            display: flex;
            flex-direction: column;
        }

        #b3 
        {
            margin: 0 auto;
        }

        #image5
        {
            padding: 0;
            width: 400px;
        }

        .page5image
        {
            /* text-align: center; */
            margin-right: 50px;
        }
        .connect
        {
            text-align: center;
            /* padding-left: 50px; */
            display: flex;
            flex-direction: column;
        }

        
        #title6
        {
            margin-top: 50px;
        }

        #content6
        {
            padding: 20px 70px;
        }

        #shape19 {
            position: absolute;
            top: 75px;
            left: 258px;
        }

        #shape20 {
            position: absolute;
            top: 206px;
            right: 18px;
        }

        #shape21 {
            position: absolute;
            bottom: 24px;
            left: 18px;
        }

        #shape26 {
            position: absolute;
            bottom: 30px;
            left: 298px;
        }

    }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) and (max-width: 1200px) { 

    #bar
    {
        display: block;
        color: white;
    }

           
    #check1
    {
        width: 50px;
        height: 50px;
        display: block;
        opacity: 0;
    }

    nav
    {
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    input:checked + nav
    {
        display: flex;
    }
    
    .image
    {
        padding-left: 20px;
    }

    #search
    {
        padding-left: 50px;
    }

    .menu
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 5px solid blue;
        margin-left: 10px;
        /* padding: 20px auto; */
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }