/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #title3
    {
        font-size: 50px;
        padding: 10px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   
    #shape2
    {
        position: absolute;
        top: -10px;
        left: 80px;
    }

    #shape3
    {
        position: absolute;
        top: 160px;
        left: 30px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }   

    #title3
    {
        font-size: 50px;
        padding: 10px;
    }

    #content1
    {
        margin-right: 30px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   

    #img2 {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 2;
        /* border: 1px solid black; */
    }

    #shape3
    {
        position: absolute;
        top: 160px;
        left: 30px;
    }

    #shape7 {
        position: absolute;
        top: 126px;
        left: 50px;
    }

    #shape10 {
        position: relative;
        top: 142px;
        right: 299px;
    }

    #content4
    {
    /* width: 380px; */
    text-align: left;
    color: #21243d;
    font-weight: 400;
    font-family: "Montserrat";
    }


    .joint2
    {
        flex-direction: column;
    }

    .main-content3
    {
        /* margin: 10px 20px; */
        margin: 0 auto;
    }


 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    .b2
    {
        margin-left: 20px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   
    #shape2 {
        position: absolute;
        top: -10px;
        left: 101px;
    }

    #shape3
    {
        position: absolute;
        top: 150px;
        left: 88px;
    }

    .joint1
    {
        position: relative;
        left: 0px;
        top: 50px;
    }
    
    #shape7 {
        position: absolute;
        top: 126px;
        left: 26px;
    }

    .page5title
    {
        margin-left: 30px;
    }

    .imagepage3
    {
    padding:100px 20px 100px 100px;
    }

    #title4
    {
        font-size: 55px;
    }

    
    #content4
    {
    font-size: 30px;
    width: 320px;
    padding-left: 20px;
    color: #21243d;
    font-weight: 400;
    font-family: "Montserrat";
    }

    #shape10 {
        position: absolute;
        top: 142px;
        right: 299px;
    }

    #shape11 {
        position: absolute;
        bottom: 24px;
        left: 30px;
    }

    #shape12 {
        position: absolute;
        top: 60px;
        right: 33px;
    }

    #shape14 {
        position: absolute;
        top: 200px;
        left: 67px;
    }

    #shape16 {
        position: absolute;
        bottom: 21px;
        right: 275px;
    }


    #shape17 {
        position: absolute;
        bottom: 67px;
        right: 19px;
    }


    #shape18 {
        position: absolute;
        top: 50px;
        left: 340px;
    }
    #shape21 {
        position: absolute;
        bottom: 10px;
        left: 311px;
    }

    #title6
    {
        width: 400px;
        padding-left: 30px;
    }

    #content6
    {
        width: 400px;
        padding-left: 30px;
    }

    #b3
    {
        margin-left: 30px;
    }

    #shape19 {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    #shape24 {
        position: absolute;
        top: 75px;
        left: 109px;
    }

    #shape26 {
        position: absolute;
        bottom: 30px;
        left: 357px;
    }

    #shape25 {
        position: absolute;
        bottom: 145px;
        left: 38px;
    }

    .circle
    {
        margin: 50px 50px;
        justify-content: space-between;
    }


  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .cards
    {
        flex-direction: row;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #shape5
    {
        top: 243px;
        position: absolute;
        right: -20px;
    }

    #shape4
    {
    position: absolute;
    bottom: 57px;
    left: -78px;
}
 }