/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #title3
    {
        font-size: 50px;
        padding: 10px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   
    #shape2
    {
        position: absolute;
        top: -10px;
        left: 80px;
    }

    #shape3
    {
        position: absolute;
        top: 160px;
        left: 30px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #title3
    {
        font-size: 50px;
        padding: 10px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   
    #shape2
    {
        position: absolute;
        top: -10px;
        left: 80px;
    }

    #shape3
    {
        position: absolute;
        top: 160px;
        left: 30px;
    }

    .joint2
    {
        flex-direction: column;
    }
    

        
    .imagepage3
    {
      
    }

    .joint2
    {
        flex-direction: column;
    }
    
    .main-content3
    {
        justify-content: center;
        text-align: center;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cards
    {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #title3
    {
        font-size: 50px;
        padding: 10px;
    }

    #img
    {
        align-items: center;
        width: 400px;
    }

    #content3
    {
        font-size: 20px;
        padding: 10px;
    }
   
    #shape2
    {
        position: absolute;
        top: -10px;
        left: 110px;
    }

    #shape3
    {
        position: absolute;
        top: 150px;
        left: 88px;
    }

    .joint1
    {
        position: relative;
        left: 0px;
        top: 50px;
    }
    
    
#shape7
{
    position: absolute;
   top: 140px;
   left: 160px;
}
    

    .imagepage3
    {
    padding:100px 50px 100px 100px;
    width: 50%;
    /* border: 1px solid black; */
    }

    #title4
    {
        font-size: 55px;
    }

    
    #content4
    {
    font-size: 30px;
    width: 320px;
    padding-left: 20px;
    color: #21243d;
    font-weight: 400;
    font-family: "Montserrat";
    }

    #shape12 {
        position: absolute;
        top: 60px;
        right: 33px;
    }

    #shape16 {
        position: absolute;
        bottom: 38px;
        right: 348px;
    }

    #shape21 {
        position: absolute;
        bottom: 39px;
        left: 352px;
    }

    #title6
    {
        width: 400px;
        padding-left: 30px;
    }

    #content6
    {
        width: 400px;
        padding-left: 30px;
    }

    #b3
    {
        margin-left: 30px;
    }

    #shape19 {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    #shape24 {
        position: absolute;
        top: 75px;
        left: 109px;
    }

    #shape26 {
        position: absolute;
        bottom: 30px;
        left: 357px;
    }

    #shape25 {
        position: absolute;
        bottom: 145px;
        left: 38px;
    }

  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .cards
    {
        flex-direction: row;
        /* justify-content: center; */
        text-align: center;
        gap: 20px;
    }

    #shape5
    {
        top: 243px;
        position: absolute;
        right: -20px;
    }

    #shape4
    {
    position: absolute;
    bottom: 57px;
    left: -78px;
}
 }