*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}
#header1
{
    width: 98%;
    margin: 0 auto;
    background: hsl(0deg 0% 100%);
}
#navbar1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list1
{
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 15px;
}
.list1 #img1
{
    width: 32px;
    border-radius: 50%;
}
#inputs
{
    display: flex;
    column-gap: 20px;
}
.list1 i
{
    font-size: 24px;
}
.list1 button
{
    padding:0px 10px;
}
.inner_list
{
    display: flex;
    gap: 0;
    /* align-items: center; */
}
#input1
{
    padding:12px 55px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-color: #cecece;
    font-size: 18px;
}

.inner_list button
{
    padding:12px 15px;            
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.list1 #btn1
{
    padding:10px 15px;
    border-radius: 50%;            
}
#img2
{
    width: 122px;
    height: 56px;
}
.wrapper1
{
    width: 8%;
}
.wrapper2
{
    width: 92%;
}
.main-wrapper
{
    display: flex;
    width: 100%;
}
.list2
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;
}
.list2 li i
{
    font-size: 22px;
}
.inner_list2
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 .list2 li
 {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
 }       
li
{
list-style: none;
}
button
{
border: 0;
text-transform: capitalize;
}
.menu
{
display: flex;
/* justify-content: space-around; */
column-gap: 10px;
align-items: center;
}
.main_menu
{
display: flex;
flex-direction: column;
row-gap: 20px;
/* align-items: center; */
padding: 20px 10px;
display: none;
}
.menu i
{
font-size: 24px;
}

#you
{
display: flex;
column-gap: 10px;
padding: 15px 0px 15px 10px;
display: none;
}
#you i
{
    font-size: 15px;
}

#button_bar
{
    padding: 12px 15px;
    background: transparent;
}
.list2 li:hover
{
    background: #EFEFEF;
}
.list2 #button_bar:hover
{
    background: #EFEFEF;
    border-radius: 50%;
}
button:hover
{
background: #d3d3d3;
}
.button_wrapper
{
display: flex;
justify-content: space-between;
padding: 10px;
}
.button_wrapper button
{
padding: 10px;
border-radius: 6px;
font-weight: bold;
}

.all_cards
{
display: flex;
flex-direction: column;
margin: 10px;
border-radius: 10px;
}

.all_cards video
{
width: 415px;
}

#card_wrapper
{
display: flex;
flex-wrap: wrap;
}

.all_cards p
{
padding: 2px;
}
.account_list
{
display: flex;
gap: 20px;
}
