
        .parent
        {
            border: 1px solid black;
            width: 100%;
        }
        nav
        {
            display: flex;
            justify-content: space-around;
            background-color: #b13941;
        }
        .parent2
        {
            width: 100%;
            height: 707px;
            border: 1px solid black;
            background: url(./Images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png) no-repeat;
            background-size: cover;
            font-size: 70px;
            padding-top: 30px;
            color: #feedda;
            font-weight: 400;
            font-family: "Yeseva One";
            text-align: center;
        }
        #para
        {
            padding-top: 5px;
            font-size: 25px;
        }
        #b1
        {
            width: 174px;
            height: 54px;
            background-color: #b13941;
            color: #feedda;
            font-size: large;
        }
        .page2
        {
            width: 100%;
            height: 477px;
            border: 1px solid black;
            background-color: #b13941;
            display: flex;
        }
        .page2 img{
            width: 300px;
            height: 300px;
            padding-left: 150px;
            padding-top: 100px;
        }
         #p1
        {
            font-family: "Yeseva One";
            font-size: 45px;
            padding-left: 100px;
            padding-top: 78px;
            color: #feedda;
        }
         #p2
        {
            font-size: large;
            color: black;
            color: #feedda;
            padding-left: 100px;
        }
        #b2
        {
            margin-left: 100px;
            width: 219px;
            height: 47px;
            font-family: "Yeseva One";
            color: #b13941;
            background-color: #feedda;
            font-size: 20px;
            font-weight: bold;
        }
        .parent3
        {
            border: 1px solid black;
            width: 100%;
            height: 777px;
            background-color: #feedda;
            display: flex;
        }
        .parent3 img
        {
            border: 1p solid black;
           
        }
        #Best1
        {
            font-size: 75px;
            letter-spacing: 1px;
            color: #000000;
            font-weight: 300;
            font-family: "Yeseva One";
        }
        #Best2
        {
            width: 576px;
            height: 277px;
            font-size: 21px;
            line-height: 33px;
            color: #575757;
            font-weight: 400;
            font-family: "PT Serif";
        }
        .mydiv2
        {
            padding-left: 100px;    
        }